body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
body .background {
    width: 1920px;
    height: 5800px;
    background: url(./background.png);
    background-repeat: no-repeat;
}

body .button1 {
    position: absolute;
    cursor: pointer;
    width: 1920px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
}
